<h2>WYNIKI</h2>
<% for (const choiceGroup in choices) { %>
  <h2>
    <%= choices[choiceGroup].name %>
  </h2>
  <ul>
    <% for (const choice in choices[choiceGroup].members) { %>
      <li>
        <%= choices[choiceGroup].members[choice] %> - <%= results[choiceGroup][choice] ? results[choiceGroup][choice] : 0 %> głosów
      </li>
    <% } %>
  </ul>
<% } %>