html, body {
  font-family: "Comic Sans MS";
  display: flex;
  flex-direction: column;
}

label {
  font-size: 25px;
}

ul, li {
  list-style: none;
}

li {
  margin: 10px;
}
ul {
  margin: 30px;
}

#password {
  margin-top: 30px;
  max-width: 50%;
}

p {
  font-size: 20px;
}
header {
  font-size: 65px;
  padding-left: 230px;
}
#header-img {
  align-self: flex-start;
  position: absolute;
}
#header-box {
  padding: 30px;
  background-color: #eeeeee;
}